#heading {
	font-family:monotype corsiva;
	font-size:38px;
	color:green;
	text-align:center;
	
}
#heading1 {
	font-family:monotype corsiva;
	font-size:38px;
	color:red;
	text-align:center;
	
}

